* {
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #686868;
}

img {
  display: block;
  height: auto;
  object-fit: cover;
}

a {
  text-decoration: none;
  color: inherit;
}

.m {
  &--header {
    margin: 30px auto;
  }
  &b {
    &--15 {
      margin: 0 auto 15px;
    }
    &--30 {
      margin: 0 auto 30px;
    }
  }
}

.p {
  &--15 {
    padding: 15px;
  }
}

.d {
  &-flex {
    display: flex;
  }
  &-grid {
    display: grid;
  }
}

.g {
  &--5 {
    gap: 5px;
  }
  &--10 {
    gap: 10px;
  }
}

.center {
  place-items: center;
  &-start {
    @extend .center;
  }
}

.cont {
  &-card {
    flex-wrap: wrap;
    justify-content: center;
    .card {
      flex: 1 1 250px; /*  Stretching: */
      flex: 0 1 250px; /*  No stretching: */
      height: 200px;
      img {
        border-radius: 50%;
      }
      .info {
        transition: 2s height ease-in-out;
      }
      &:hover {
        position: relative;
        background: #eee;
        img {
          position: relative;
          border-radius: 15px;
        }
        .info {
          background: rgba(255, 255, 255, .9);
          position: absolute;
          width: 100%;
          height: 100%;
          padding: 15px;
          p {
            font-weight: 700;
          }
        }
      }
    }
  }
}

.box {
  border: .5px solid #eee;
  border-radius: 15px;
  overflow: hidden;
}

.legal {
  font-size: 10px;
}

.img {
  &--entidad {
    width: min(120px, 100%);
  }
}

.txt {
  &--gray {
    color: #686868;
  }
  &--center {
    text-align: center;
  }
}

@media screen and (min-width: 640px) {
  .center-start {
    place-items: center flex-start;
  }
}